.h1-asap {
  font: var(--h1-asap);
}

.h2-asap {
  font: var(--h2-asap);
}

.h3-asap {
  font: var(--h3-asap);
  color: var(--gray-600);
}

.sub-incon {
  font: var(--sub-inconsolata);
}
.sub-incon-green {
  font: var(--sub-inconsolata);
  color: var(--main-green);
}

.text-sm-mavenpro {
  font: var(--text-sm-maven-pro);
  color: var(--gray-400);
}

.text-md-mavenpro {
  font: var(--text-md-maven-pro);
  color: var(--gray-500);
}

.card:hover {
  border: solid 1.5px var(--gray-400);
}

.socialButton:hover {
  border: solid 1.5px var(--main-blue);
  border-radius: 8px;
}